$placeholder: #C8C8C8;
$fontTajawalBlack: "Tajawal-Black",
sans-serif;
$fontTajawalBold: "Tajawal-Bold",
sans-serif;
$fontTajawalExtraBold: "Tajawal-ExtraBold",
sans-serif;
$fontNotoRegular: "NotoSansArabic-Regular",
sans-serif;
$fontNotoSemiBold: "NotoSansArabic-SemiBold",
sans-serif;
$fontShamelBold: "FFShamelFamilySansOne-Bold",
sans-serif;
$fontTitleRegular: "Dubai-Regular",
    sans-serif;
$fontTitleBold: "Dubai-Bold",
    sans-serif;
$fontTextRegular: "KFGQPC-Regular",
    sans-serif;
$fontTextBold: "KFGQPC-Bold",
    sans-serif;

@font-face {
    font-family: "NotoSansArabic-Regular";
    src: url("../fonts/NotoSansArabic-Regular.ttf");
}

@font-face {
    font-family: "NotoSansArabic-SemiBold";
    src: url("../fonts/NotoSansArabicUI-SemiBold.ttf");
}

@font-face {
    font-family: "Tajawal-Black";
    src: url("../fonts/Tajawal-Black.ttf");
}

@font-face {
    font-family: "Tajawal-Bold";
    src: url("../fonts/Tajawal-Bold.ttf");
}

@font-face {
    font-family: "Tajawal-ExtraBold";
    src: url("../fonts/Tajawal-ExtraBold.ttf");
}

@font-face {
    font-family: "FFShamelFamilySansOne-Bold";
    src: url("../fonts/FFShamelFamilySansOne-Bold.ttf");
}
@font-face {
    font-family: "KFGQPC-Regular";
    src: url("../fonts/KFGQPC-UthmanTahaNaskh-Regular.ttf");
}
@font-face {
    font-family: "KFGQPC-Bold";
    src: url("../fonts/KFGQPC-UthmanTahaNaskh-Bold.ttf");
}
@font-face {
    font-family: "Dubai-Regular";
    src: url("../fonts/Dubai-Regular.ttf");
}
@font-face {
    font-family: "Dubai-Bold";
    src: url("../fonts/Dubai-Bold.ttf");
}
/*Main Rules*/
//html,
//body {
//    font-family: $fontNotoRegular;
//    font-size: 18px;
//    padding: 0px;
//    margin: 0px;
//    color: #3C2A4A
//}
///*for arabic site*/
//html,
//body {
//    text-align: right
//}

#register-page {
    font-family: $fontTextRegular;
    font-size: 18px;
    color: #3C2A4A;
    /*for arabic site*/

    text-align: right;

    /*loading*/

    .loading-overlay {
        background-color: rgba(255, 255, 255, 0.7);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1051;
        display: none
    }

    .spinner {
        margin: auto;
        width: 60px;
        height: 60px;
        position: relative;
        top: 38vh;
        text-align: center;
        -webkit-animation: sk-rotate 2.0s infinite linear;
        animation: sk-rotate 2.0s infinite linear;
    }

    .dot1,
    .dot2 {
        width: 60%;
        height: 60%;
        display: inline-block;
        position: absolute;
        top: 0;
        background-color: #efbf32;
        border-radius: 100%;
        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
    }

    .dot2 {
        top: auto;
        bottom: 0;
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    @-webkit-keyframes sk-rotate {
        100% {
            -webkit-transform: rotate(360deg)
        }
    }

    @keyframes sk-rotate {
        100% {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg)
        }
    }

    @-webkit-keyframes sk-bounce {

        0%,
        100% {
            -webkit-transform: scale(0.0)
        }

        50% {
            -webkit-transform: scale(1.0)
        }
    }

    @keyframes sk-bounce {

        0%,
        100% {
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        }

        50% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }

    /*end loading*/
    /*Main Rules*/

    .form-control::-webkit-input-placeholder {
        color: $placeholder;
        opacity: 1
    }

    .form-control::-moz-placeholder {
        color: $placeholder;
        opacity: 1
    }

    .form-control:-ms-input-placeholder {
        color: $placeholder;
        opacity: 1
    }

    .form-control::-ms-input-placeholder {
        color: $placeholder;
        opacity: 1
    }

    .form-control::placeholder {
        color: $placeholder;
        opacity: 1
    }

    .form-control {
        font-size: 16px;
        color: #393939;
        border-color: #eee;
        background-color: #EEEEEE;

        &:hover {
            border-color: #3C2A4A
        }

        &:focus {
            border-color: #000
        }

        &:disabled {
            border-color: #CECECE
        }
    }

    .form-control.is-valid,
    .was-validated .form-control:valid,
    .form-control.is-invalid,
    .was-validated .form-control:invalid {
        padding-right: .75rem;
        background: #eee;
        border-color: #dc3545
    }

    .form-control.is-valid,
    .was-validated .form-control:valid {
        border-color: #A2A2A2;

        &:hover {
            border-color: #706F6F
        }

        &:focus {
            border-color: #000;
            box-shadow: none;
        }

        &:disabled {
            border-color: #CECECE
        }
    }

    .form-check-input.is-valid ~ .form-check-label,
    .was-validated .form-check-input:valid ~ .form-check-label {
        color: #3C2A4A
    }

    .form-check-input.is-invalid ~ .form-check-label,
    .was-validated .form-check-input:invalid ~ .form-check-label {
        color: #dc3545;
    }

    .invalid-feedback {
        font-size: 100%
    }

    /*plugins*/
    /* sumo select plugin */

    .SumoSelect {
        min-width: 200px;
        width: auto;
        vertical-align: sub
    }

    .SumoSelect > .CaptionCont {
        border-color: #eee;
        display: block !important;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        background-color: #eee;
        background-clip: padding-box;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .SumoSelect > .CaptionCont > label {
        margin: 0;

    }

    .SumoSelect > .CaptionCont > label > i {
        opacity: .5
    }

    .SumoSelect.open > .CaptionCont,
    .SumoSelect:focus > .CaptionCont,
    .SumoSelect:hover > .CaptionCont {
        box-shadow: none;
        border-color: #3C2A4A;

        & > label > i {
            opacity: .8
        }
    }

    .SumoSelect:hover {
        cursor: pointer;

        .CaptionCont > span,
        .CaptionCont > label {
            cursor: pointer;
        }
    }

    .SumoSelect > .CaptionCont > span.placeholder {
        font-style: normal;
        color: $placeholder
    }

    .SumoSelect {
        width: 100%;
        max-width: auto;
        min-width: 100px
    }

    .SumoSelect .select-all > label,
    .SumoSelect > .CaptionCont,
    .SumoSelect > .optWrapper > .options li.opt label {
        margin-bottom: 0;
        //        color: #393939;
        //        font-family: $fontNotoRegular;
        //        font-size: .9rem
    }

    .SumoSelect > .optWrapper > .options li.opt label {
        margin-bottom: 0;
        color: #393939;
        font-family: $fontTitleRegular;
        font-size: .9rem;
        line-height: 1.6;
    }

    .sumo-select {
        //	display: none !important
    }

    .CaptionCont.sumo-invalid {
        border-color: #dc3545;
    }

    /* intlTelInput plugin */
    .iti {
        width: 100%;
        direction: ltr
    }

    .phone-confirm-container {
        .iti__flag-container {
            display: none
        }

        input {
            padding-left: 13px !important
        }
    }

    #error-msg {
        color: #dc3545;
    }

    #valid-msg {
        color: #28a745;
    }

    input.error {
        border: 1px solid #dc3545 !important;
    }

    @media (min-width: 768px) {
        .iti__country-list {
            white-space: nowrap;
            max-width: 295px;

            li {
                max-width: 275px;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    @media (max-width: 500px) {
        .iti__country-list {
            white-space: normal;
        }
    }

    /*for arabic site*/

    .SumoSelect > .CaptionCont > span {
        padding-right: 0;
        padding-left: 30px
    }

    .SumoSelect > .CaptionCont > label {
        left: 0;
        right: auto
    }

    .row {
        flex-direction: row-reverse;
    }

    //.form-control{
    //    text-align: right;
    //    direction: rtl;
    //}
    .form-group {
        //    text-align: right;
        direction: rtl;
        margin-bottom: 40px;

        .phone-input {
            direction: ltr
        }

        label {
            direction: ltr
        }
    }

    /*End for arabic site*/
    .form-check-inline .form-check-input {
        margin-right: 0;
        margin-left: .3125rem;
    }

    input.form-control:focus {
        box-shadow: none;
        //    border-color: #ced4da;
    }

    .btn.btn-primary:focus,
    .btn.btn-primary:active {
        box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5);
        outline: none;
        border-color: #000;

    }

    /*End Main Rules*/
}

footer {
    //    position: relative;
    //    top: 55vh
}

#register-page {
//    background-size: cover;
//    background-attachment: fixed;
//    //    background-position: top left;
//    background-position: center;
//    background-repeat: no-repeat;
//    background-image: url(../images/form/Home_Hero_BG%20copy.jpg);
    background-size: auto, cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/form/laptop.svg), url(../images/form/Form-BG.jpg) ;
    //    padding-top: 38vh;
    padding-top: 52vh;
    padding-bottom: 100px;
    position: relative;

    #faded-dev {
        width: 100%;
        height: 200px;
        background-color: #fff;
        background: linear-gradient(0deg, #E2E2E2 0%, transparent 100%);
        opacity: 50%;
        position: absolute;
        bottom: 0;
        z-index: 0
    }

    .page-content-wrapper {
        width: 50%;
        margin: auto;
        padding: 50px 30px;
        background-color: #fff;
        position: relative;
        z-index: 2
    }

    header {
        margin-bottom: 60px;

        .title {
            font-family: $fontTitleBold;
            font-size: 1.6rem;
            margin-bottom: 17px
        }

        .course {
            font-size: 1.1rem;
            margin-bottom: 40px
        }

        .details {
            font-family: $fontTitleBold;
            font-size: 1.2rem;
            margin-bottom: 18px;
            direction: rtl
        }

        .star-note {
            font-size: 1.1rem;
        }
    }

    section {
        margin-bottom: 30px;
        font-size: 13px;

        .title {
            font-family: $fontTitleBold;
            font-size: 1.2rem;
        }
    }

    .section-header {
        margin-bottom: 35px;

        hr {
            width: 55%;
            margin-right: 0;
            margin-top: 5px;
            border-top: 2px solid #3C2A4A;
        }
    }

    #error-message {
        font-size: 16px;
        direction: rtl
    }

    .field-error-msg {
        color: #dc3545
    }

    .name-example {
        color: #c8c8c8;
        font-size: .9rem;
//        font-family: $fontNotoRegular
    }

    .name-note {
        font-size: .9rem;
//        font-family: $fontNotoRegular
    }

    form {
        input {
            font-size: 16px
        }

        label {
            font-family: $fontTitleBold;
            font-size: .9rem;
            color: #471280
        }

        .form-check-label {
            font-family: $fontTitleRegular;
            color: #3C2A4A
        }

        .accept-label {
            font-family: $fontTitleBold
        }

    }

    .form-check-input:disabled ~ .form-check-label,
    .form-check-input[disabled] ~ .form-check-label {
        color: #a2a5a7
    }

    .info-icon {
        position: absolute;
        bottom: 8px;
        left: 23px;
    }

    //    #from-part {
    //        display: inline-block;
    //        width: 40px;
    //        padding: .375rem;
    //        text-align: center
    //    }
    //
    #part-error {
        color: #dc3545
    }

    #part-wrapper {
        .SumoSelect {
            display: inline;
            margin-left: 10px;
        }

        .CaptionCont {
            display: inline-block !important;
        }

        .SumoSelect > .optWrapper {
            left: auto;
            right: 30px;
            width: 77px;
            top: 18px;
        }
    }

    #to-part,
    #to-part-text {
        font-size: 16px
    }

    .radio-text {
        font-size: 16px;
        //        color: #C8C8C8
    }

    .form-check-label,
    .form-check-input {
        cursor: pointer
    }

    button[type="submit"] {
        background: rgb(169, 140, 75);
        background: linear-gradient(276deg, rgba(169, 140, 75, 1) 0%, rgba(203, 165, 82, 1) 100%);
        box-shadow: 0 10px 18px #D8B56661;
        width: 330px;
        max-width: 100%;
//        height: 63px;
        border-color: transparent;
        //        font-family: $fontTajawalExtraBold;
        font-family: $fontTitleBold;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 0px;
        font-size: 20px;
        margin-top: 30px;
        //        margin-bottom: 25px;
        color: #fff;
        &:hover{
            background: linear-gradient(276deg, #A98C4B 0%, #A98C4B 100%);
//            background-color: #A98C4B
        }
    }

    .phone-match-note {
        font-size: 0.8rem;
        color: #fff;
        display: inline-block;
        padding: 0 10px;
        border-radius: 2em;
    }

    .policies {
        height: 400px;
        width: 90%;
        padding-right: 15px;
        margin-left: auto;
        margin-top: 38px;
        overflow-y: scroll;
        font-size: .9rem;
    }

    .policies-line {
        width: 100%;
        margin-right: 0;
        margin-top: 55px;
        margin-bottom: 27px;
        border-top: 2px solid #3C2A4A;
    }
    #success-modal{
        .title{
            color: #509863;
        }
        
    }
    #success-modal,
    #error-modal {
        .modal-content {
            border-radius: 0;
            border-color: #fff
        }

        .modal-header {
            border: none;

            img {
                margin: auto;
                margin-bottom: 25px;
            }

            #error-icon {
                margin-top: -80px;
            }

            #success-icon {
                margin-top: -100px;
            }
        }

        .title {
            font-family: $fontTitleBold;
            font-size: 1.2rem;
            direction: rtl;
        }

        .text {
            font-family: $fontTitleRegular;
            font-size: 1.1rem;
            color: #545454;
        }

        .modal-footer {
            border: none;
            justify-content: center
        }

        a[role="button"] {
            border: 2px solid #3C2A4A;
            border-radius: 2em;
            color: #3C2A4A;
            background-color: transparent;
            max-width: 100%;
            font-family: $fontTitleBold;
            font-size: 1rem;
            padding: 5px 25px
        }
    }

    @media (min-width: 1920px) {
        background-image: url(../images/form/laptop.svg), url(../images/form/Form-BG2x.jpg) ;
    }
    @media (max-width: 991.98px) {
        background-color: #eee;
//        background-image: url(../images/form/Artboard%2043.png), url(../images/form/Artboard%2044.jpg);
        background-image: url(../images/form/laptop.svg), url(../images/form/phone-bg.png);
        background-size: 500px,100%;
        background-repeat: no-repeat;
        background-position: top, top;
        background-attachment: local, fixed;
        padding-top: 36vh;

        .page-content-wrapper {
            width: 100%;
            background-color: transparent;
            padding-left: 0;
            padding-right: 0
        }

        //        .faded-dev {
        //            display: none
        //        }

        header {
            font-size: 16px;

            .title {
                font-size: 20px;
            }

            .course {
                margin-bottom: 40px
            }
        }

        .logo {
            width: 40px;
        }

        section,
        header {
            background-color: #fff;
            padding: 30px;
            padding-top: calc(1rem + 10px);
            padding-bottom: 10px;
            border-radius: 0px;
            box-shadow: 0 16px 21px rgba(0, 0, 0, 0.05);
        }

        header {
            padding-top: 40px;
            padding-bottom: 40px;

            .title {
                font-size: 1.5rem
            }

            .details {
                font-size: 1rem;
            }
        }

        .section-header {
            hr {
                width: 100%
            }
        }

        .name-example{
            display: block
        }
        .policies {
            width: 95%;
        }
    }

    @media (max-width: 500px) {
        background-size: contain, 100%;
//        padding-top: 33vh;
    }
}
/*scrollbar style to be always visible in mobile*/

/* !important is needed sometimes */
//div ::-webkit-scrollbar {
//    width: 12px !important;
//}
//
///* Track */
//div ::-webkit-scrollbar-track {
//    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
//    -webkit-border-radius: 10px !important;
//    border-radius: 10px !important;
//}
//
///* Handle */
//div ::-webkit-scrollbar-thumb {
//    -webkit-border-radius: 10px !important;
//    border-radius: 10px !important;
//    background: #41617D !important; 
//    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important; 
//
//}
//div ::-webkit-scrollbar-thumb:window-inactive {
//    background: #41617D !important; 
//}

#policies-section ::-webkit-scrollbar {
    -webkit-appearance: none;
}

#policies-section ::-webkit-scrollbar:vertical {
    width: 12px;
}

#policies-section ::-webkit-scrollbar:horizontal {
    height: 12px;
}

#policies-section ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

#policies-section ::-webkit-scrollbar-track {
//    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #eee;
}