$fontNotoRegular: "NotoSansArabic-Regular",
sans-serif;
$fontNotoSemiBold: "NotoSansArabic-SemiBold",
sans-serif;
$fontNotoBold: "NotoSansArabic-Bold",
sans-serif;
$fontShamelBold: "FFShamelFamilySansOne-Bold",
sans-serif;
$fontShamelBook: "FFShamelFamilySansOne-Book",
sans-serif;
$fontTajawalBlack: "Tajawal-Black",
sans-serif;
$fontTajawalMedium: "Tajawal-Medium",
sans-serif;
$fontTajawalBold: "Tajawal-Bold",
sans-serif;

@font-face {
    font-family: "NotoSansArabic-Regular";
    src: url("../fonts/NotoSansArabic-Regular.ttf");
}

@font-face {
    font-family: "NotoSansArabic-SemiBold";
    src: url("../fonts/NotoSansArabicUI-SemiBold.ttf");
}

@font-face {
    font-family: "NotoSansArabic-Bold";
    src: url("../fonts/NotoSansArabic-Bold.ttf");
}

@font-face {
    font-family: "FFShamelFamilySansOne-Bold";
    src: url("../fonts/FFShamelFamilySansOne-Bold.ttf");
}

@font-face {
    font-family: "FFShamelFamilySansOne-Book";
    src: url("../fonts/FFShamelFamilySansOne-Book.ttf");
}

@font-face {
    font-family: "Tajawal-Black";
    src: url("../fonts/Tajawal-Black.ttf");
}

@font-face {
    font-family: "Tajawal-Medium";
    src: url("../fonts/Tajawal-Medium.ttf");
}

@font-face {
    font-family: "Tajawal-Bold";
    src: url("../fonts/Tajawal-Bold.ttf");
}

/*Main Rules*/
html,
body {
    font-family: $fontNotoRegular;
    //    font-size: 18px;
    padding: 0px;
    margin: 0px;
    cursor: default
}

//[dir='rtl'] .slick-next {
//    right: auto;
//    left: -20px;
//}
//[dir='rtl'] .slick-prev {
//    right: -20px;
//    left: auto;
//}
/*End Main Rules*/
/*for arabic site*/
html,
body {
    //    text-align: right
}

/*End for arabic site*/

.btn:focus {
    box-shadow: none;
}

.btn-main {
    background: #A98C4B;
    color: #fff;
    max-width: 100%;
    //    border-color: transparent;
    border-radius: 0;
    font-size: 20px;

    &:hover {
        color: #fff
    }
}

.btn-main-gradient {
    background: rgb(169, 140, 75);
    background: linear-gradient(103deg, #CCB06F 0%, #A88B4A 100%);
    color: #fff;
    max-width: 100%;

    &:hover {
        color: #fff
    }
}

.btn-color2-gradient {
    background: #5D4164;
    background: linear-gradient(103deg, #715378 0%, #5D4164 100%);
    color: #fff;
    max-width: 100%;

    &:hover {
        color: #fff;
        background: linear-gradient(103deg, #715378 100%, #5D4164 0%);
    }
}

////////
.navbar-toggler-icon {
    height: 1.8em;
}

.navbar-collapse {
    text-align: right;

}

#top-nav {
    direction: rtl;
    color: rgba(142, 142, 142, 1);
    background-color: #fff;
    box-shadow: 0 7px 40px rgba(0, 0, 0, 0.16);
    border-bottom: 10px solid #A98C4B;
    //    position: fixed;
    //    z-index: 1;

    &.bg-dark {
        background-color: #3b2a4a !important;
    }

    .navbar-brand {
        margin-left: 20px;
    }

    /*collapsed navbar*/
    &.navbar-dark {

        .nav-link {
            color: #DCC6EF;
            margin-left: auto;

            &:hover {
                color: #fff
            }

            &.active {
                color: #fff;
                border-bottom: 1px solid #fff
            }
        }

        .login-link {
            color: #fff;

            &:hover {
                color: #fff
            }

            &:focus {
                color: #fff;
                //            border-bottom: 1px solid #000
            }
        }
    }

    .nav-link {
        color: #8E8E8E;
        font-size: 1.1rem;

        &:hover {
            color: #373737
        }

        &.active {
            color: #000;
            border-bottom: 1px solid #000
        }
    }

    .login-link {
        color: #8E8E8E;
        font-size: 1.1rem;
        margin-left: 20px;
        text-decoration: none;
        margin-left: 1rem;
        margin-right: 1rem;

        &:hover {
            color: #373737
        }

        &:focus {
            color: #000;
            //            border-bottom: 1px solid #000
        }
    }

    .register-link {
        width: 150px;
        max-width: 100%;
        font-size: 1.1rem;
        margin-right: 1rem;

        &:hover {
            background-color: #806B3C
        }

        &:focus {
            background-color: #5E4712
        }
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0;
        margin-left: 1rem;
        margin-right: 1rem
    }
}

//@media (max-width: 767.98px) {
//    #top-nav{
//        background-color: #3b2a4a;
//        color: #fff
//    }
//}
#main-page,
#maqraa-page,
#jazariah-page {
    section {
        padding: 3rem 0;

        //    z-index: -2
    }

    section header {
        font-family: $fontShamelBold;
        margin-bottom: 80px;
        margin-top: 50px;

        //    position: relative;
        //    z-index: 10000;
        h2 {
            display: inline-block;
            position: relative;
            z-index: 1;
            color: #393939;
            font-size: 2rem
        }

        h2::after {
            content: " ";
            width: 110%;
            height: 3px;
            border-top: 29px solid rgba(162, 162, 162, .3);
            display: inline-block;
            position: absolute;
            left: -5%;
            bottom: -6px;
            z-index: -1
        }

        @media (max-width: 575.98px) {
            margin-top: 30px;

            h2 {
                font-size: 1.4rem
            }

            h2::after {
                border-top: 10px solid rgba(162, 162, 162, .3);
                bottom: 5px;
            }
        }
    }
}

#main-page {
    #home {
//        min-height: calc(100vh - 81px);
        min-height: 100vh;
//        background-image: url(../images/main/Home_Hero_illustrationsvg.svg), url(../images/main/Home_Hero_BGjpg.jpg);
        background-image: url(../images/main/Book.png), url(../images/main/bg.jpg);
        background-size: 1000px, cover;
        background-repeat: no-repeat;
//        background-position: center -100px, center;
        background-position: bottom, top;

        img {
            width: 300px
        }

        .start-link {
            width: 250px;
            max-width: 100%;
            font-size: 20px;
            font-family: $fontShamelBold;
            padding-bottom: .6rem;
            padding-top: .6rem;
            //            height: 58px;
            //            line-height: 58px
        }
        @media (min-width: 1500px) {
            min-height: calc(100vh - 81px);
            background-position: bottom, top;
            img{
                margin-top: 100px !important
            }
        }
        @media (min-width: 1920px) {
            background-image: url(../images/main/Book@2x.png), url(../images/main/bg@2x.jpg);
            min-height: calc(100vh - 81px);
            background-position: center , top;
        }

        @media (max-width: 991.98px) {

            background-size: 100%, cover;
            background-position: bottom,top;

        }
//
        @media (max-width: 575.98px) {
            background-image: url(../images/main/Book.png), url(../images/main/bgphone-min.jpg);
            background-size: 100% , 100%;
            background-position: bottom, top;

        }
    }



    #features {
        background-color: #eee;

        .col {
            margin-bottom: 80px;

        }

        .card {
            color: #fff;
            border-radius: 0;
            border: 0;
            //        min-height: 465px;
            margin: auto;
            margin-bottom: 40px;
            transition: .3s;
            padding-left: 25px;
            padding-right: 25px;

            .card-img-top {
                margin-top: 30px;
                height: 133px
            }

            .card-title {
                margin-bottom: 20px;
                font-family: $fontShamelBold;
                font-size: 1.3rem
            }

            .card-text {
                min-height: 100px;
                font-size: 1rem
            }

            .btn {
                color: #fff;
                border-color: #fff;
                border-width: 2px;
                border-radius: 0;
                width: 190px;
                height: 45px;
                line-height: 45px;
                font-family: $fontShamelBold;
                font-size: .9rem;
                padding-bottom: 0;
                padding-top: 0;

                img {
                    width: 11px;
                    transition: .3s
                }
            }

        }
    }

    @media (min-width: 992px) {
        #features {
            .card {
                &:hover {
                    transform: translateY(-10px);

                    .btn {
                        background-color: #fff;

                        img {
                            width: 0;
                            transition: .5s
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 991.98px) {
        #features {
            .row {
                flex-direction: column-reverse;
            }

            .card {
                width: 80%;

                &:hover {
                    .btn {
                        color: #fff;
                    }
                }
            }
        }
    }

    #reads-card {
//        background: rgba(123, 180, 140, 1);
//        background: linear-gradient(180deg, rgba(123, 180, 140, 1) 0%, rgba(75, 144, 155, 1) 100%);
//        box-shadow: 0 58px 58px rgba(79, 107, 154, 0.22);
        background: transparent linear-gradient(180deg, #C5C5C5 0%, #999999 100%) 0% 0% no-repeat padding-box;
        
        box-shadow: 0px 58px 58px #54545438;
        .card-title {
            color: #5B5B5B
        }

        &:hover {
            .btn {
                color: rgba(75, 144, 155, 1);
            }
        }
    }

    #courses-card {
        background: #895D94;
        background: linear-gradient(180deg, #7E4B8A 0%, #895D94 100%);
        box-shadow: 0 58px 58px rgba(41, 8, 67, 0.2);

        .card-title {
            color: #AA9AFF
        }

        &:hover {
            .btn {
                color: #895D94;
            }
        }
    }

    #maqraa-card {
        background: #CCB06F;
        background: linear-gradient(180deg, #CCB06F 0%, #AC722F 100%);
        box-shadow: 0 58px 58px rgba(136, 119, 35, 0.2);

        .card-title {
            color: #FFEABA
        }

        &:hover {
            .btn {
                color: #AC722F;
            }
        }
    }

    #courses {
        background-color: #48315A;

        .container-fluid {
            padding-left: 0px;
            padding-right: 30px
        }

        header h2 {
            color: #fff
        }

        .btn {
            width: 210px;
            max-width: 100%;
            font-size: 1.3rem;
            font-family: $fontTajawalMedium;
            margin-top: 80px;
            margin-bottom: 20px;
            border-radius: 0;
            padding-bottom: .5rem;
            padding-top: .5rem
        }
        a{
            text-decoration: none
        }
        .card {
            background: #fff;
            box-shadow: 0 21px 37px rgba(0, 0, 0, 0.16);
            border: 0;
            border-radius: 0;
            margin: auto;
            width: 95%;
            max-width: 340px;
            text-align: right;
            height: 500px;
                transition: .3s;
        }
        .card:not(.placeholder-card):hover {
            transform: translateY(-10px);
        }
        .placeholder-img{
            width: 95%;
        }
        .placeholder-card{
            background: #d4d4d4
        }
        .placeholder-img2{
            margin: auto
        }
        .card-img-top {
            border-radius: 0
        }

        .card-body {
            position: relative
        }

        .level {
            width: 150px;
            max-width: 100%;
            text-align: center;
            color: #fff;
            padding: 5px;
            position: absolute;
            left: 0;
            top: -50px;
            background-color: #509863;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px
        }

        .time,
        .lessons {
            font-size: .8rem;
            color: #3C2A4A
        }

        .card-title {
            color: #000;
            font-size: 1.1rem;
            font-family: $fontShamelBold;
            margin-top: 25px;
            line-height: 2rem
        }

        .details {
            //3lines
            //            height: 140px
            //4 lines
            height: 160px
        }

        .card-text {
            color: #878787;
            font-size: .9rem;
            text-overflow: ellipsis;
            overflow-y: hidden;
            color: #878787;
            position: relative;
            height: 6rem;
            /* exactly three lines */
            line-height: 1.5rem
        }

//        .card-text:after {
//            content: "";
//            text-align: right;
//            position: absolute;
//            bottom: 0;
//            left: 0;
//            width: 70%;
//            height: 1.5rem;
//            background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
//        }

        @media (max-width: 575.98px) {
            .card {
                max-width: 60%
            }
        }
    }

    #subjects {
        background-color: #48315A;

        .container-fluid {
            padding-right: 3%;
            padding-left: 3%
        }

        header h2 {
            color: #fff;
            margin-bottom: 100px
        }

        .col {
            padding: 0 7px
        }

        .card {
            background: #F1E8FB;
            color: #3C2A4A;
            border-radius: 26px;
            margin: auto;
            margin-bottom: 70px;
            //        width: 95%
            transition: 1s
        }

        .card-img-top {
            height: 103px;
            position: absolute;
            left: 0;
            top: -51px;
        }

        .card-body {
            margin-top: 90px;
            transition: 1s
        }

        .card-title {
            font-family: $fontShamelBold;
            font-size: 1.2rem;
            min-height: 50px;
        }

        hr {
            width: 40%;
            border-color: #3C2A4A;
            border-width: 2px
        }

        .arrow-open {
            display: none;
            transform: rotate(-90deg)
        }

        .details {
            display: none;
        }

        .card-text {
            font-size: 1rem
        }

        .btn {
            border-color: #3C2A4A;
            border-width: 2px;
            border-radius: 7px;
            width: 190px;
            max-width: 100%;
            font-family: $fontShamelBold;
            font-size: .9rem;
            padding-bottom: 5px;
            padding-top: 10px;
            margin-bottom: 10px;
            margin-top: 10px;

            img {
                width: 10px;
                margin-right: 10px
            }
        }

        .card:hover {
            cursor: pointer;

            .details {
                //            display: block
                //            visibility: visible;
                //            height: 100%;
                //            transition: 1s
            }
        }

        @media (max-width: 991.98px) {

            .card-title {
                min-height: auto;
            }

            .arrow-open {
                display: inline-block
            }

            hr {
                display: none
            }

            .card.open {
                .arrow-open {
                    display: none
                }

                hr {
                    display: inline-block
                }
            }
        }

        @media (max-width: 575.98px) {
            .container-fluid {
                padding-right: 15px;
                padding-left: 15px
            }

            .row {
                flex-direction: column-reverse
            }

            .card {
                max-width: 60%
            }
        }
    }

    #statistics {
        background-image: url(../images/main/H_6S_bg.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;

        .col {
            margin-bottom: 50px
        }

        .card {
            background: transparent;
            color: #393939;
            border: 0;
            margin: auto;
            //        width: 95%
        }

        .card-img-top {
            width: 140px;
            max-width: 100%;
            margin: auto
        }

        .card-title {
            color: #471280;
            font-family: $fontTajawalBlack;
            font-size: 3rem //        padding-bottom: 10px
        }

        .card-text {
            font-size: 2rem;
            font-family: $fontTajawalMedium
        }
    }

    @media (max-width: 1288px) {
        #statistics {
            background-size: cover;
        }
    }

    @media (max-width: 991.98px) {
        #statistics {
            .card-img-top {
                width: 100px
            }

            .card-title {
                font-size: 2rem //        padding-bottom: 10px
            }

            .card-text {
                font-size: 1.2rem;
            }
        }
    }

    @media (max-width: 575.98px) {
        #statistics {
            .card-img-top {
                height: auto;
                width: 100px
            }

            .card-title {
                font-size: 1rem //        padding-bottom: 10px
            }

            .card-text {
                font-size: 1rem;
            }
        }
    }

    #call-to-action {
        background-color: #48315A;
        background-image: url(../images/main/Call_to_Action_bg.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;

        .row {
            direction: rtl
        }

        .text {
            color: #fff;
            font-size: 2rem;
            font-family: $fontShamelBold;
        }

        .btn {
            width: 200px;
            font-size: 1.2rem
        }
    }

    @media (max-width: 767.98px) {
        //    #call-to-action {
        //        .row {
        //            -ms-flex-direction: row-reverse !important;
        //            flex-direction: row-reverse !important
        //        }
        //    }
    }
}

#faqs {
    background-color: #EEEEEE;
    padding-bottom: 100px;

    .accordion-section {
        text-align: right;
        direction: rtl;
    }

    .accordion-section .panel-default > .panel-heading {

        border-radius: 15px;
        background: #fff;
        padding: 0;
    }

    .accordion-section .panel-default .panel-title a {
        display: block;
        font-size: 1.2rem;
        color: #393939;

        &:hover {
            text-decoration: none
        }
    }

    .accordion-section .panel-default .panel-title a:after {
        content: "";
        background: url(../images/main/DownArrow.svg);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        float: left;
        display: inline-block;
        font-size: 10px;
        margin-top: 9px;
        transform: rotate(180deg);
    }

    .accordion-section .panel-default .panel-title a.collapsed:after {
        transform: rotate(360deg);
    }

    .accordion-section .panel-default .panel-body {
        font-size: 1.2rem;
    }
}

#page-footer {
    text-align: right;
    background-color: #E2E2E2;

    .container-fluid {
        max-width: 1512px;
        padding: 0 30px;
    }

    .row {
        flex-direction: row-reverse;
    }

    .title {
        color: #471280;
        font-family: $fontTajawalBold;
        margin-bottom: 20px
    }

    .nav-link {
        color: #3C2A4A;
        font-size: 16px;
        padding: 0;
        margin-bottom: 13px;
        margin-left: 13px;
        display: inline-block;

        //        width: 40%
        &:hover {
            text-decoration: underline
        }

    }

    .form-control {
        direction: rtl;
        border-radius: 0;
        background-color: #D6D6D6;
        color: #828282
    }

    button[type="submit"] {
        border-radius: 0
    }
}

#copyright {
    color: #FFFCF2;
    background-color: #393939;
    font-size: 14px;

    a {
        color: #FFFCF2;
        text-decoration: underline
    }
}

#maqraa-page {
    #home {
        min-height: calc(100vh - 81px);
        //        background-image: url(../images/main/maqraa/D-M-Active.png), url(../images/maqraa/D-M-BG.jpg);
        //        background-size: contain, 100%;
        //        background-repeat: no-repeat;
        //        background-position: center 120px, top;
        background-color: #EEE;
        background-image: url(../images/maqraa/D-M-BG.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top;
        padding-bottom: 0;

        .content-wrapper {
            position: relative
        }

        .register-opened,
        .register-closed {
            position: absolute;
            top: 100px;
            margin: auto;
            width: 100%;
            margin-top: 240px;
        }

        .register-opened {
            margin-top: 260px;
        }

        .register-opened .text1,
        .register-closed .text1 {
            color: #393939;
            font-size: 1.5rem;
            //            font-size: 1.8vw;
            font-family: $fontShamelBold;
            width: 550px;
            max-width: 100%;
            //            width: 35vw;
            margin: auto;
            margin-bottom: 20px
        }

        .register-opened .text2,
        .register-closed .text2 {
            color: #878787;
            font-size: 1.5rem;
            //            font-size: 1.2vw;
            width: 500px;
            max-width: 100%;
            margin: auto;
            margin-bottom: 20px
        }

        .for-mobile {
            display: none
        }

        .countdown {
            color: #A2A2A2;
            //            font-size: 4rem;
            font-size: 3.2rem;
            font-family: $fontShamelBold
        }

        .register-form-link {
            width: 250px;
            max-width: 100%;
            font-size: 20px;
            font-family: $fontShamelBold;
            padding-bottom: 0;
            padding-top: 0;
            height: 58px;
            line-height: 58px
        }

        @media (max-width: 991.98px) {
            background-image: url(../images/maqraa/M-M-BG.jpg);
        }

        @media (min-width: 576px) and (max-width: 767.98px) {

            .register-opened,
            .register-closed {
                margin-top: 190px;
            }

            .register-opened .text1,
            .register-closed .text1 {
                width: 400px;
                margin-bottom: 10px;
                font-size: 1rem;
            }

            .register-opened .text2,
            .register-closed .text2 {
                margin-bottom: 10px;
                font-size: 1.2rem;
            }

            .countdown {
                font-size: 1.7rem;
            }
        }

        @media (max-width: 575.98px) {
            .for-mobile {
                display: block
            }

            .for-desktop {
                display: none
            }

            .register-opened,
            .register-closed {
                margin-top: 200px;
            }

            .register-opened .text1,
            .register-closed .text1 {
                width: 300px
            }
        }
    }



    #description {
        background-image: url(../images/maqraa/M_3ndS_Road.svg), url(../images/maqraa/M_3ndS_BG%20left%20illustration.svg), url(../images/maqraa/M_3ndS_BG%20right%20illustration.svg), url(../images/maqraa/M_3ndS_BG.svg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 190px 270px, left, right, top;

        //        padding-bottom: 0;
        header h2 {
            color: #fff
        }

        .card {
            width: 450px;
            max-width: 100%;
            margin: auto;
            border-radius: 0;
            border: none;
            box-shadow: 0 30px 99px rgba(255, 255, 255, 0.11);
            margin-bottom: 65px;
            padding-bottom: 40px;

            .card-title {
                color: #471280;
                font-size: 2rem;
                font-family: $fontShamelBold;
                margin-bottom: 30px;
                margin-top: 30px;
            }

            .card-text {
                color: #878787;
                font-size: 1.2rem;
                line-height: 2.2rem;
            }

            .whatsaap {
                color: #2AC434;
                font-family: $fontTajawalBold
            }

        }

        .register-form-btn {
            border-radius: 0;
            font-size: 1.2rem;
            font-family: $fontShamelBold;
            padding: 10px 30px 5px 30px;
            margin-top: -20px
        }

        #next-register-card {
            padding-bottom: 0;
            margin-bottom: 0;

            //            margin-top: -30px;
            .card-title {
                color: #878787;
                font-size: 1.5rem;
                font-family: $fontNotoRegular;
                margin: 0;
                margin-bottom: 40px;
            }

            .card-text {
                color: #A2A2A2;
                font-size: 3rem;
                font-family: $fontShamelBold;
            }
        }

        .desc-wrapper {
            position: relative;
        }

        .desc-img {
            position: absolute
        }

        #desc-img1 {
            right: 0px;
            top: -50px;
            width: 270px
        }

        #desc-img2 {
            left: 0px;
            top: 50px;
            width: 270px
        }

        #desc-img3 {
            right: 0px;
            top: 50px;
            width: 250px
        }

        #desc-img4 {
            left: -50px;
            top: 120px;
            width: 320px
        }

        #desc-img5 {
            right: -50px;
            top: 70px;
            width: 320px
        }

        @media (max-width: 991.98px) {
            background-image: url(../images/maqraa/M_3ndS_BG.svg);
            background-size: cover;
            background-position: top;

            .desc-img {
                position: relative;
                right: auto !important;
                left: auto !important;
                top: auto !important;
                bottom: auto !important;
                margin-bottom: 50px;
            }
        }
    }
}

#maqraa-page #services,
#main-page #services {
    background-color: #EEE;
    background-image: url(../images/H_4S_bg.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    direction: rtl;

    .col {
        margin-bottom: 50px
    }

    .card {
        background: #715378;
        background: linear-gradient(136deg, #715378 0%, #5D4164 100%);
        box-shadow: 0 58px 58px rgba(41, 8, 67, 0.2);
        color: #DCC6EF;
        border-radius: 0;
        margin: auto;
        width: 95%;
        padding-top: 30px;
        padding-bottom: 20px
    }

    .card-img-top {
        height: 110px;
    }

    .card-title {
        color: #EBC777;
        display: inline-block;
        border-bottom: 4px solid #EBC777;
        padding-bottom: 10px;
        font-family: $fontShamelBold;
        font-size: 1.2rem
    }

    .card-text {
        margin-top: 15px
    }
}

#jazariah-page {
    #home {
        min-height: calc(100vh - 81px);
        background-image: url(../images/jazariah/jazariyeh-header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;

        #faded-div {
            width: 100%;
//            height: 520px;
            height:100%;
            background-color: #48315a;
            //            background: linear-gradient(180deg, rgba(72, 49, 90, 0) 0%, rgba(72, 49, 90, 1) 100%);
            background: transparent linear-gradient(180deg, rgba(72, 49, 90, .0) 0%,rgba(72, 49, 90, .9) 50%, rgba(72, 49, 90, 1) 100%) 0% 0% no-repeat padding-box;
            position: absolute;
            bottom: 0;
            z-index: 0
        }

        .card {
            color: #393939;
            width: 350px;
            max-width: 100%;
            padding-top: 30px;
            padding-bottom: 10px;
            margin-top: 30px;
            border-radius: 0;
            border-color: transparent;

            .btn {
                margin-bottom: 30px;
                font-family: $fontShamelBold;
                font-size: 1.1rem;
                padding-top: 15px;
                padding-bottom: 10px
            }
        }
        .course-opened{
            .btn{
                background: transparent linear-gradient(98deg, #CCB06F 0%, #A88B4A 100%) 0% 0% no-repeat padding-box;
            }
        }
        .course-closed{
            .btn{
                background: transparent linear-gradient(98deg, #A8A8A8 0%, #848484 100%) 0% 0% no-repeat padding-box;
            }
        }

        .card-title {
            font-family: $fontShamelBold;
            font-size: 1.2rem;
            margin-bottom: 10px
        }

        .card-text {
            color: #878787;
            font-family: $fontNotoRegular;
            font-size: .9rem;
            margin-bottom: 25px
        }

        .countdown {
            text-align: center;
            font-family: $fontShamelBold;
            font-size: 2rem;
            margin-bottom: 20px
        }

        .course-description {
            color: #fff;

            .title {
                font-family: $fontShamelBold;
                font-size: 2rem
            }

            .text {
                font-family: $fontNotoBold;
                font-size: .8rem;
                line-height: 2.5
            }
        }

                @media (max-width: 991.98px) {
                    background-image: url(../images/jazariah/jazariyeh-header-phone.jpg);
                    background-position:   center;
                    #faded-div {
                        height: 100%;
                    }
                    .card {
                        color: #393939;
                        width: 90%;
                        margin: auto
                    }
                    .course-description{
                        margin-top: 350px;
                            margin-bottom: 100px
                    }
                }
        //
                @media (max-width: 575.98px) {
                    background-color: #48315a;
                    background-image: url(../images/jazariah/jazariyeh-header-phone.jpg);
                    background-size: 100%;
                    background-position: top;
                    .course-description{
                        padding-left: 30px;
                        padding-right: 30px;
                    }
        
                }
    }

    #course-contents {
        background-color: #48315A;

        //        .container-fluid {
        //            padding-right: 3%;
        //            padding-left: 3%
        //        }

        header h2 {
            color: #fff;
            //            margin-bottom: 100px
        }

        //        .col {
        //            padding: 0 7px
        //        }

        .card {
            background-color: transparent;
            border-color: transparent;
            color: #3C2A4A;
            border-radius: 0;
            margin: auto;
            //            margin-bottom: 70px;
            //        width: 95%;
            max-width: 100%;
            transition: 1s
        }

        .card-img-top {
            height: 130px;
            //            position: absolute;
            //            left: 0;
            //            top: -51px;
        }

        .card-body {
            margin-top: 15px;
            padding-left: 10px;
            padding-right: 10px;
            //            transition: 1s
        }

        .card-text {
            font-family: $fontNotoBold;
            font-size: .8rem;
            color: #fff
        }


        @media (max-width: 575.98px) {
            .card{
                margin-bottom: 30px
            }

        }

    }

    #goals-conditions {
        background-color: #EEEEEE;
        padding-bottom: 100px;
        padding-top: 100px;

        .card {
            box-shadow: 0px 45px 45px rgba(0, 0, 0, 0.05);
            padding-top: 30px;
            padding-bottom: 20px
        }

        img {
            //            width: 35px
            height: 40px;
            //            max-width: 100%
        }

        .card-title {
            color: #3C2A4A;
            font-family: $fontShamelBold;
            font-size: 1.2rem;
            margin-bottom: 0px
        }

        .card-text {
            color: #878787;
            font-family: $fontNotoBold;
            font-size: .9rem;
            margin-top: 20px
        }

        ul {
            padding-right: 20px
        }

        li {
            list-style: disc;
            margin-bottom: 10px
        }
        @media (max-width: 575.98px) {
            .card-conditions{
                margin-bottom: 30px
            }

        }
    }



    #curriculum {
        background: transparent linear-gradient(180deg, #917A68 0%, #C8B173 100%) 0% 0% no-repeat padding-box;
        padding-bottom: 100px;
        position: relative;
        z-index: 1;

        header h2 {
            color: #fff
        }

        .colored-div {
            width: 100%;
            height: 300px;
            background-color: #eee;
            position: absolute;
            bottom: 0;
            z-index: 0
        }

        .card {
            padding: 50px 60px 50px 30px;
            width: 700px;
            max-width: 100%;
            background-color: #fff;
            border-radius: 0;
            border: 0;
            box-shadow: 0px 16px 21px rgba(0, 0, 0, 0.05);
            margin: auto;
            text-align: right
        }

        .card-body {
            //            border-right: dashed;
            padding-bottom: 0;
            padding-top: 0;
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                width: 15px;
                height: 78%;
                border-right: dashed;
                border-color: #3C2A4A;
                position: absolute;
                right: 0px;
                top: 10px
            }
        }

        .card-title1 {
            font-family: $fontShamelBold;
            font-size: 1.1rem;
            color: #3C2A4A;

            &::before {
                content: "1";
                position: absolute;
                right: -40px;
                font-family: $fontShamelBold;
                color: #3C2A4A
            }

            &::after {
                content: '';
                display: inline-block;
                width: 15px;
                height: 15px;
                -moz-border-radius: 7.5px;
                -webkit-border-radius: 7.5px;
                border-radius: 7.5px;
                background-color: #3C2A4A;
                position: absolute;
                right: -11px;
            }
        }

        .card-title2 {
            font-family: $fontShamelBook;
            font-size: 1.1rem;
            color: #3C2A4A;
            margin-top: 15px
        }

        .card-text {
            font-family: $fontNotoBold;
            font-size: .9rem;
            line-height: 2;
            color: #393939;
            width: 90%;
            margin-left: auto
        }

        .badge {
            font-family: $fontNotoBold;
            font-size: .9rem;
            background-color: #509863;
            border-radius: 0;
            padding-bottom: 12px;
            padding-top: 12px;
            width: 150px;
            max-width: 100%
        }

        .unit {
            margin-bottom: 45px;

            &:nth-of-type(2) {
                .card-title1 {
                    &::before {
                        content: "2";
                    }
                }
            }

            &:nth-of-type(3) {
                .card-title1 {
                    &::before {
                        content: "3";
                    }
                }
            }

            &:nth-of-type(4) {
                .card-title1 {
                    &::before {
                        content: "4";
                    }
                }
            }
        }
    }

    #gain {
        background-color: #48315A;
        color: #fff;
        padding-top: 15px;
        padding-bottom: 20px;

        .card {
            background-color: transparent;
            border: 0
        }

        .card-title {
            font-family: $fontShamelBold;
            font-size: 1.1rem;
        }

        .card-text {
            font-family: $fontNotoBold;
            font-size: .9rem;
            margin-top: 20px
        }

        ul {
            padding-right: 20px;
            margin-bottom: 55px
        }

        li {
            list-style: disc;
            margin-bottom: 10px
        }

        .btn {
            font-family: $fontShamelBold;
            font-size: 1.1rem;
            padding-top: 15px;
            padding-bottom: 10px
        }

        .image-wrapper {
            position: relative
        }

        .certificate-img {
//            max-width: 100%;
            margin: auto;
            position: absolute;
            bottom: -289px;
            left: -156px;
            z-index: 3
        }
        @media (max-width: 991.98px) {
            padding-bottom: 0;
            .card-body{
                padding-bottom: 0
            }
            .certificate-img {
                max-width: 100%;
                position: relative;
                bottom: auto;
                left: auto
            }
        }
        //
        @media (max-width: 575.98px) {


        }
    }
}
